<ion-grid [ngStyle]="setGridPaddingStyle()"
          padding-horizontal>

    <ion-row padding-horizontal
             [ngClass]="isMine ? 'my-message' : 'message'"
             [ngStyle]="setBubbleBorderStyle()">

        <ion-col>
            <ion-label text-wrap>
                {{chatMessage.message}}
            </ion-label>
        </ion-col>

    </ion-row>

    <ion-row *ngIf="!isMine && isLast" padding-horizontal>

        <ion-col no-padding style="font-style: italic; font-size: small">
            {{chatMessage.createdBy.email}}
        </ion-col>

    </ion-row>

</ion-grid>
