<ion-header>
    <ion-img src="assets/icon/geeky-logo-portrait.png"></ion-img>
</ion-header>

<ion-content padding>

    <ion-grid style="height: fit-content">

        <ion-row>
            <ion-col text-center>
                <h1>Вписване</h1>
            </ion-col>
        </ion-row>
        <ion-row style="height: fit-content"
                 align-items-center>
            <ion-col text-center>
                <form #form="ngForm"
                      (ngSubmit)="onSignIn(form)">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">Имейл</ion-label>
                                <ion-input name="email"
                                           ngModel
                                           required="true"
                                           email
                                           type="email"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">Парола</ion-label>
                                <ion-input name="password"
                                           ngModel
                                           required="true"
                                           type="password"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row text-center>
                        <ion-col>
                            <ion-button type="submit">Влез</ion-button>
                        </ion-col>
                    </ion-row>
                </form>
                <ion-row text-center>
                    <ion-col>
                        <ion-button fill="clear" (click)="onNavToSignUp()">Регистрация</ion-button>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>

<ion-footer text-center>
    <ion-button fill="clear"
                (click)="onForgottenPasswordClicked($event)">Забравена Парола
    </ion-button>
</ion-footer>
