<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only"
                          name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title text-center>
            Гийки Чат
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onLogout()">
                <ion-icon slot="icon-only"
                          name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of items | async">
            {{item.message}}
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small">
            <ion-button fill="clear">🤔</ion-button>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row no-padding
                     justify-content-center
                     align-items-center>
                <ion-col size="10"
                         no-padding
                         no-margin
                         justify-content-center
                         align-items-center>
                    <ion-input [(ngModel)]="message"
                               autofocus="true"
                               wrap="hard"
                               maxlength="350"></ion-input>
                </ion-col>
                <ion-col size="2">
                    <ion-fab-button size="small">
                        <ion-icon name="play"
                                  (click)="onMessageSend()"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
