<ion-header>
    <ion-toolbar text-center>
        <ion-title>Вход</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Псевдоним</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col>
                <ion-button (click)="onLogin()">Влез</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
